{% extends 'base.html' %}

{% block title %}Gemanti - Dolanan Pengurangan{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pitakon.css">
<link rel="stylesheet" href="/static/css/dolanan_game.css">
<link rel="stylesheet" href="/static/css/dolanan_hp.css">
{% endblock %}

{% block content %}
  {% set game_heading = 'Pengurangan' %}
  {% set game_copy = 'Kerjakan soal pengurangan bilangan bulat. Pilih angka yang tepat dari papan di bawah.' %}
  {% set question_type = 'Tipe 2: negatif - negatif' %}
  {% set question_text = '-3 - -2 =' %}
  {% include 'dolanan_hp.html' %}
{% endblock %}
