{% extends 'base.html' %}

{% block title %}Gemanti - Dolanan Pengurangan{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pitakon.css">
<link rel="stylesheet" href="/static/css/dolanan_game.css">
<link rel="stylesheet" href="/static/css/dolanan_hp.css">
<link rel="stylesheet" href="/static/css/dolanan_hp_layout.css">
{% endblock %}

{% block content %}
  {% set game_heading = 'Pengurangan' %}
  {% set question_text = '-3 - -2 =' %}
  {% include 'dolanan_hp.html' %}
{% endblock %}
