{% extends 'base.html' %}

{% block title %}Gemanti - Dolanan Penjumlahan{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pitakon.css">
<link rel="stylesheet" href="/static/css/dolanan_game.css">
<link rel="stylesheet" href="/static/css/dolanan_hp.css">
{% endblock %}

{% block content %}
  {% set game_heading = 'Penjumlahan' %}
  {% set game_copy = 'Kerjakan soal penjumlahan bilangan bulat. Pilih angka yang tepat dari papan di bawah.' %}
  {% set question_type = 'Tipe 1: positif + positif' %}
  {% set question_text = '4 + 1 =' %}
  {% include 'dolanan_hp.html' %}
{% endblock %}
