{% extends 'base.html' %}

{% block title %}Gemanti - Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body_class %}page-home{% endblock %}

{% block content %}

  <!-- Background & top icons -->
  <img class="background-image" src="/static/img/bgg.png" alt="" aria-hidden="true">
<img class="front-ground" src="/static/img/tanah.png" alt="" aria-hidden="true">
<img class="leaf leaf-left" src="/static/img/rumput_kiri.png" alt="" aria-hidden="true">
<img class="leaf leaf-right" src="/static/img/rumput_kanan.png" alt="" aria-hidden="true">

  <header class="brand">
    <img class="brand-logo" src="/static/img/logo.png" alt="Gemanti - Game Tembang Kurang Interaktif">
  </header>

  <!-- Middle decorations (temple, tower, characters) -->

  <div class="menu-wrap">
    <a class="menu-card" id="menuButton" href="/menu" aria-label="Mulai permainan">
      <img class="menu-image" src="/static/img/mulai.png" alt="Mulai">
    </a>
  </div>

{% endblock %}
