{% extends 'base.html' %}

{% block title %}Gemanti - Menu{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/menu.css">
{% endblock %}

{% block content %}
  <section class="game-menu-page direct-view" role="main">

    <div class="menu-panel">
      <div class="game-menu-items">

        <div class="game-menu-item">
          <a href="/profil">
            <img src="/static/img/profil.png" alt="Profil">
          </a>
        </div>

        <div class="game-menu-item">
          <a href="/demo">
            <img src="/static/img/demo.png" alt="Permainan">
          </a>
        </div>

        <div class="game-menu-item">
          <a href="/permainan">
            <img src="/static/img/permainan.png" alt="Demo">
          </a>
        </div>

      </div>
    </div>
  
  </section>
   
{% endblock %}
