{% extends 'base.html' %}

{% block title %}Gemanti - Pitakon{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pitakon.css">
{% endblock %}

{% block content %}
    <section class="game-menu-page direct-view pitakon-top" role="main">

      <img class="background-image" src="/static/img/latar%20belakang.png" alt="" aria-hidden="true">
      <img class="front-ground" src="/static/img/tanah.png" alt="" aria-hidden="true">
      <img class="leaf leaf-left" src="/static/img/rumput%20kiri.png" alt="" aria-hidden="true">
      <img class="leaf leaf-right" src="/static/img/rumput%20%20kanan.png" alt="" aria-hidden="true">

      <img class="janur janur-left" src="/static/img/jenur%20kiri.png" alt="" aria-hidden="true">
      <img class="janur janur-right" src="/static/img/janur%20kanan.png" alt="" aria-hidden="true">
      <img class="temple-image" src="/static/img/candi.png" alt="" aria-hidden="true">
      <img class="tower-image" src="/static/img/tugu.png" alt="" aria-hidden="true">
      <img class="people-image" src="/static/img/orang.png" alt="" aria-hidden="true">
      <img class="wayang-image" src="/static/img/wayang.png" alt="" aria-hidden="true">

      <img class="bottom-decor food-image" src="/static/img/makanan.png" alt="" aria-hidden="true">
      <img class="bottom-decor music-image" src="/static/img/alatmusik.png" alt="" aria-hidden="true">

      <div class="menu-panel">
        <div class="pitakon-page">
          <h2>Pitakon (Pertanyaan)</h2>
          <p>Halaman soal / pertanyaan. Isi dengan konten soal di sini.</p>
          <a class="btn" href="/menu">Kembali</a>
        </div>
      </div>

    </section>
{% endblock %}

