{% extends 'base.html' %}

{% block title %}Gemanti - Pitutur Deskripsi 2{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pitutur_profil.css">
<link rel="stylesheet" href="/static/css/pitutur_deskripsi_game_2.css">
{% endblock %}

{% block content %}
  <section class="pitutur-page direct-view" aria-label="Deskripsi Game Bagian 2">
    <!-- Reuse menu/background elements for consistent look -->
    <img class="background-image" src="/static/img/latar_belakang.png" alt="" aria-hidden="true">
    <img class="front-ground" src="/static/img/tanah.png" alt="" aria-hidden="true">
    <img class="leaf leaf-left" src="/static/img/rumput_kiri.png" alt="" aria-hidden="true">
    <img class="leaf leaf-right" src="/static/img/rumput_kanan.png" alt="" aria-hidden="true">

    <button class="icon-button top-action" id="soundButton" type="button" aria-label="Matikan suara">
      <img id="soundIcon" src="/static/img/speaker_aktif.png" alt="">
    </button>
    <button class="icon-button top-action" id="profileButton" type="button" aria-label="Profil">
      <img src="/static/img/home.png" alt="">
    </button>

    <img class="janur janur-left" src="/static/img/jenur_kiri.png" alt="" aria-hidden="true">
    <img class="janur janur-right" src="/static/img/janur_kanan.png" alt="" aria-hidden="true">
    <img class="temple-image" src="/static/img/candi.png" alt="" aria-hidden="true">
    <img class="tower-image" src="/static/img/tugu.png" alt="" aria-hidden="true">
    <img class="people-image" src="/static/img/orang.png" alt="" aria-hidden="true">
    <img class="wayang-image" src="/static/img/wayang.png" alt="" aria-hidden="true">

    <img class="bottom-decor food-image" src="/static/img/makanan.png" alt="" aria-hidden="true">
    <img class="bottom-decor music-image" src="/static/img/alatmusik.png" alt="" aria-hidden="true">

    <div class="pitutur-panel no-border">
      <div class="pitutur-description-page">
        <h1>Komponen Dolanan</h1>
        <div class="pitutur-description-content">
      <p>
        Pada bagian Dolanan terdapat beberapa komponen sebagai berikut. Setiap
        komponen membantu pemain menentukan hasil penjumlahan dan pengurangan
        bilangan bulat secara interaktif.
      </p>
      <div class="component-diagram">
        <div class="game-preview">
          <img class="preview-image" src="/static/img/contoh.png" alt="Contoh tampilan area Dolanan">
        </div>

        <span class="label label-question">Soal</span>
        <span class="label label-title">Nama<br>motif batik dalam<br>area permainan</span>
        <span class="label label-area">Area<br>Permainan</span>
        <span class="label label-positive">Simbol<br>bilangan<br>positif</span>
        <span class="label label-negative">Simbol<br>bilangan<br>negatif</span>
        <span class="label label-lock">Gembok<br>kunci<br>jawaban</span>
        <span class="label label-minus">Tempat meletakan<br>simbol bilangan negatif</span>
        <span class="label label-plus">Tempat meletakan<br>simbol bilangan positif</span>
        <span class="label label-input">Tombol<br>input<br>jawaban</span>
        <span class="label label-change">Gembok<br>ganti<br>jawaban</span>

        <span class="line line-question"></span>
        <span class="line line-title"></span>
        <span class="line line-area"></span>
        <span class="line line-positive"></span>
        <span class="line line-negative"></span>
        <span class="line line-lock"></span>
        <span class="line line-minus"></span>
        <span class="line line-plus"></span>
        <span class="line line-input"></span>
        <span class="line line-change"></span>
      </div>
      <div class="pitutur-description-actions">
        <button class="page-arrow page-arrow-left" type="button" aria-label="Kembali ke bagian 1" onclick="location.href='/pitutur/deskripsi-1'">
          <img class="arrow-img" src="/static/img/kiri.png" alt="Kembali">
        </button>
        <button class="page-arrow page-arrow-right" type="button" aria-label="Lanjut ke bagian 3" onclick="location.href='/pitutur/deskripsi-3'">
          <img class="arrow-img" src="/static/img/kanan.png" alt="Lanjut">
        </button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
