{% extends 'base.html' %}

{% block title %}Gemanti - Profil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/profil.css">
{% endblock %}

{% block content %}
  <section class="profil-page direct-view" aria-label="Profil">
    <div class="profil-panel">
      <div class="profil-profil-page">
        <h1>Gemati</h1>

       <div class="profil-image-placeholder profil-image-placeholder--centered">
            <div class="profil-image-container">
              <img src="/static/img/aduh.png" alt="Gambar tengah" />
            </div>
          </div>

        <div class="profil-description-actions actions-split">
          <a class="page-arrow" href="/profil/selanjutnya" aria-label="Lanjut ke halaman selanjutnya">
            <span>Selanjutnya</span>
            <img src="/static/img/kanan.png" alt="Panah kanan" />
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
