{% extends 'base.html' %}

{% block title %}Gemanti - Profil Selanjutnya{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/profil.css">
{% endblock %}

{% block content %}
  <section class="profil-page direct-view" aria-label="Profil Selanjutnya">
    <div class="profil-panel">
      <div class="profil-profil-page">
        <h1>Inilah cara kami gemati</h1>
        <h1>(menggenggam dengan hati) murid yang mau belajar.</h1>

          <div class="profil-image-placeholder profil-image-placeholder--centered">
            <div class="profil-image-container">
              <img src="/static/img/gemati.png" alt="Gambar tengah" />
            </div>
          </div>

          <div class="profil-description-actions actions-split">
            <a class="page-arrow" href="/menu" aria-label="Kembali ke profil">
              <span>Selamat Bermain</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
